*.iml
.gradle
.idea
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle
/gradle
/app/build