<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.svmdev.appmovies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.details.DetailActivity"
            android:parentActivityName=".view.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <!-- Parent activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity"/>
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
    </application>

</manifest>